* text=auto

/tests export-ignore
.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
phpunit.xml export-ignore
pint.json export-ignore
/.github export-ignore
boost.json export-ignore
.mcp.json export-ignore
testbench.yaml export-ignore
/workbench export-ignore
